.navbar-brand {
	text-transform: none !important;
	font-size: 2.25em !important;
	font-weight: 200;
}

.nav-link {
	font-size: 0.85em !important;
}

.sidebar-collapse .navbar-collapse:before {
	background: linear-gradient(#2CA8FF 0%, #000 80%)
}

.form-control[disabled] {
	background-color: #FAFAFA;
}

.form-control:focus {
	border-color: #2CA8FF !important;
}

.main-container {
	margin-top: 35px;
}

/* === alert === */
.alert {
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 10;
	
	overflow: hidden;
	opacity: 1;
	height: 55px;
	transition: opacity .35s ease, height .2s ease, top .2s ease;
}
	.alert--hidden {
		top: -40px;
		height: 40px;
		opacity: 0;
	}

.alert.alert-danger {
	background-color: rgba(255, 54, 54, 0.99);
}

.alert.close {
	cursor: pointer;
}


/* === button frame === */
.button-frame {
	position: relative;
	margin-top: 30px;
}

.button-frame > * {
	transition: opacity .15s ease;
}

.button-frame__button {
	z-index: 1;
}

.button-frame__loader {
	position: absolute;
	top: 25px;
	z-index: -1;
	opacity: 0;
}

.button-frame--loading {
	transition: opacity .3s ease;
}
	.button-frame--loading .button-frame__button {
		opacity: 0;
	}
	.button-frame--loading .button-frame__loader {
		opacity: 1;
	}


/* === input counter === */
.input-counter {
	font-size: 11.5px;
	color: #444;
	text-align: right;
	margin: 5px 10px 0 0;
}


/* === ENCREEPTION PAGE === */
.image-preview {
	background-position: center center;
	background-size: cover;
	width: 100%;
	height: 200px;
	margin-top: 25px;
	
	display: block;
	opacity: 1;
	
	transition: opacity .35s ease, height .2s ease;
}			
	.image-preview--hidden {
		opacity: 0;
		height: 0;
		
		transition: opacity .22s ease, height .18 ease;
	}

/* === DECREEPTION PAGE === */
#encreepted-data {
	display: none;
}

#encreepted-data__text {
	font-size: 13px;
	margin: 5px 15px;
}
